.profile__name {
  width: 294px;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 565px) {
  .profile__name {
    margin-left: 26px;
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
  }
}
