.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/header/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 565px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
  }
}
