.popup__name {
  margin: 46px 36px 0;
  border: 0;
  border-bottom: 1px solid #000000;
  opacity: 0.2;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 11px;
}
.popup__name:focus {
  outline: none;
}
@media (max-width: 565px) {
  .popup__name {
    margin: 75px 22px 0;
    padding-bottom: 8px;
  }
}
