.popup__save {
  margin: 0 auto 36px;
  padding: 16px 0 16px;
  width: 358px;
  background-color: #000000;
  border: 0;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.popup__save:hover {
  opacity: 0.8;
}

@media (max-width: 565px) {
  .popup__save {
    margin: 47px auto 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
